@*@using MyCvProjectEntityLayer.Concrate;
@model AboutMe*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>About Me List</h5>
                </div>
                <div class="ibox-content">
                    
                </div>
            </div>
        </div>
    </div>
</div>

