<div>
<img src="~/MyCvTheme/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Sign up to my newsletter</h4>
    <p>We respect your privacy.No spam ever! </p>
    <form action="/NewsletterPerson/AddNewsletterPerson" method="post">
        <input type="email" placeholder="Email" required="" name="Email" />
        <input type="submit" value="Subscribe">
    </form>
</div>