<div class="footer">
    <div class="float-right">
        Professional <strong>CV Site</strong>
    </div>
    <div>
        <strong>neuron-river</strong>  Company &copy; @DateTime.Now.Year
    </div>
</div>